html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}

.delete-button {
    background: none;
    border: none;
    padding: 0;
}

    .delete-button .fa-trash-can {
        color: red;
        transition: color 0.3s;
    }

    .delete-button:hover .fa-trash-can {
        color: darkred;
    }
