################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BusinessSolutionShared/appsettings.json

.vs/
/BusinessWebsite/appsettings.json
