################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LARemodeling/appsettings.json
/LARemodeling/bin
.vs/LARemodeling/FileContentIndex/
