################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LARemodeling/appsettings.json
/LARemodeling/bin
.vs/LARemodeling/FileContentIndex/abf733ba-7585-48c5-93d5-a6b4dc140cfa.vsidx
