<div>
    <h1>Privacy Policy for L&A Remodeling Web Application</h1>

    <h2>Introduction</h2>

    <p>At L&A Remodeling, we are committed to protecting the privacy of our clients. This Privacy Policy outlines the types of personal information we collect, how it is used, and the steps we take to ensure it is protected.</p>
   
    <h2>Information Collection</h2>
   
    <p>We collect the following personal information through our inquiry form:</p>
    <ul>
        <li>Name</li>
        <li>Phone Number</li>
        <li>Email Address</li>
    </ul>

    <h2>Use of Information</h2>

    <p>The personal information collected is used solely for the purpose of responding to inquiries and initiating 
        contact with potential clients. No other use is made of this information.</p>
    
    <h2>Data Retention</h2>

    <p>Personal information is retained in our database only until contact has been attempted with the client. 
        Afterward, the information is securely deleted from our records.</p>
    
    <h2>Information Sharing</h2>

    <p>We do not share, sell, trade, or otherwise transfer to outside parties your personally identifiable information.</p>
    
    <h2>Your Consent</h2>

    <p>By using our site, you consent to our web application's privacy policy.</p>
    
    <h2>Contact Us</h2>
    
    <p>If there are any questions regarding this privacy policy, you may contact us using the information below.</p>

    <p>
        <strong>Phone:</strong> 239-699-7816,<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;407-860-3076<br>
        <strong>Email:</strong> LARemodelingconstruction@gmail.com
    </p>
</div>
